<%= content_for :javascript do %>
  <%= javascript_tag do %>
    var cipher = <%== @cipher.to_json %>;
  <% end %>
<% end %>
<%= yield :javascript %>
<header>
	<h1>Substitution Cipher Puzzles</h1>
</header>
<main ng-view role="main">
                                    __..---'"""""""`---..__
                               _.-''    ____......____     ``-._
                           _.-'   _.--'"     _        `""-.._   `-._
                        _,'   _.-'    *  _.-"_`   ~  .-.  ,  `-._   `._
                      ,'    .'      ~    `.-'    "  :   :   ~    `-.   `.
                    ,'    .'   "      "     ____     ._.      /. '  `.   `.
                  ,'   .- .--.  *  ||  ,  ."    `.        "  //   "   `.   `.
                ,'   .'  :   .'    ||     """| |"'  ~   _   // ,    *   `.   `.
               /   .' ~  : ,'`,  ~ |'   "    '-'  *    (C)      ."".    " `.   \
              /   '       ` `'         *   ~     .   "     *   :   .  ~     .   \
             /   '   // *   ,  ,-.  ~   _   ,  .','     '    "  `.'      (0) .   \
            /   .   //   (c)  :   :    (o)   .'.'   ,  ~  \\         *       *.   \
           /   . , //  ,      `.__,   "       '      .--.  \\  ~   =====   "   .   \
          /   '           "        ____  ,  "   *   `.   `  })  _  "   ~  .     .   \
         .   '   "  ,  ~    _ *    ----'  ~       , .'`, ;     (O)    .   ,-. "  .
         '  '  _      .    (o)  ~       *   " (D)    `" `    "     *   ___| |___  .  .
        j  .  (c) *  `.`.            "    .-     .  ~    , *   .       '._    .'  |  |
        |  | "         `.'  "   //      .'  :  "      '         ~  //     `"""   *|  |
        |  |       "  .        //   ~  '    ,    ~ , ===="  (c)   //  ~    .    " |  |
        |  |  ~ ,'    .-. ~      ,  _  `...' (@)        ~  `           *     (C)  |  |
        |  |*   ||  __| |___  "    (0) "     __   ,""-.      .--.  "  _   '       |  |
        |  | ,  ||  '.    ,'    ~    __..--"' ,  '   .'   " '    .   ())    \\  ~ |  |
        |  |      ~   `""" __,..--'"'        ,   '_,'`. *    `--"        . " \\   |  |
        '  `  "   __...--''          __        *    `.'    ~     "   .--.   , \\  '  |
         `..`--'''          __..---'' .'    /___..      "   .  *    `.   `    .  .   '
                  __,..--'''    _  " ,     / ---""  ~    . `.`.  ~  .'`, ;  "   .   .
         __..---''     ,   "   (O)  ,     /   .       (Q)    `.`.    `" `    * .   ,
 ,..--'''    .   *  ~   ||   *    ~      / "     *        , ~  `    ~  , (O)  '   .
|  | ,   (@)   "      " ||   .-.   '    /   _  ~   " || .    *    "          '   .
'  '   "    ~ .   .--.  |j  :   : /    /~  (O)       ||   "   .  _  *  /. " '   ,
 .  `    _____   `.   `      .__,/    /         .-.  ||   ,--.  (@)   //  .    /
  `  `.  ----- * .'`, ;   "     /    /   "     :   :     '   .'      //  .   ,'
   `.  .  ~       `" `  *   ~  /    /,      ~   .__,  ,  : ,'`  "      .'   /
     .  `  , (c)     '  .     /    /    *              ~  ' `'    * _.'   ,'
      `.  .        *  .  (C) /    /  "  (o)  \\ ,  *          ~ _.-"    ,'
        .  `.   "    // .   /    ,._    ,     \\      (O) * _.-"     _.'
         `.  `.   , //     /    ,   ``-.._  *  `  "   __.-"'     _.-'
           `._  `.    . " /     `._       "`--....--""      _,.-'
              `.  `-._   /         `--..___         ___..--'
                `-._  ` ,                  `'"""""''
                    `-.'
</main>

<footer>
	<p>Author: <a href="http://hunke.tv">Tommy Hunke</a> <span class="spacer">|</span> <a href="http://github.com/thunke/cipher">Fork it on Github</p>
</footer>
