.cipher-text, .plain-text {

    &.ui.message {
        background-color: #fff;
        border-radius: 15px;
        font-size: 1.3em;
        min-height: 150px;

        &.green {
            background-color: #ebffed;
        }

        &.teal {
            background-color: #e9ffff;
        }
    }

    span {
        background-color: transparent;
        -webkit-transition: background 200ms linear;
        -moz-transition: background 200ms linear;
        -ms-transition: background 200ms linear;
        -o-transition: background 200ms linear;
        transition: background 200ms linear;

        &.highlight {
            background-color: yellow;
        }
    }
}

.author {
    text-align: right;
    margin-top: 2em;
}

.custom-input {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
}