.cipher-text, .plain-text {

    &.ui.message {
        background-color: #fff;
        border-radius: 15px;
        font-size: 1.3rem;

        @media (max-width: @sub-tablet) {
            min-height: auto;
        }

        @media (max-width: @sub-mobile) {
            font-size: 1.0rem;
        }

        &.green {
            background-color: #ebffed;
        }

        &.teal {
            background-color: #e9ffff;
        }

        p {
            margin: 0;
        }

        .ui.ribbon.label {
            top: -5px;
            left: -41px;
            @media (max-width: @sub-mobile) {
                left: -35px;
            }
        }
    }

    span {
        background-color: transparent;
        -webkit-transition: background 200ms linear;
        -moz-transition: background 200ms linear;
        -ms-transition: background 200ms linear;
        -o-transition: background 200ms linear;
        transition: background 200ms linear;

        &.highlight {
            background-color: yellow;
        }
    }
}

.author {
    text-align: right;
    margin-top: 2em;
}

.custom-input {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
}