.value-pairs.ui.form {
    .clearfix;

    .field {
        float: left;
        width: 25%;
        clear: none;
    }

    label {
        display: inline-block;
        font-size: 1.5rem;
        position: relative;
        width: 40px;
        padding: 5px 0;

        sub {
            font-size: 0.8rem;
        }
    }

    input[type="text"] {
        width: 40px;
        padding: 0.3em;
        font-size: 1.3em;
        cursor: pointer;
    }
}

.reset-button.ui.button {
    margin-top: 2em;
}