<div class="ui grid">
    <div class="eight wide column">
        <h3>Cipher Text</h3>
        <div class="ui message cipher-text">
            <p>{{cipher.cipherText}}</p>
        </div>

        <h3>Plain Text</h3>
        <div class="ui message plain-text" ng-class="{green:cipher.solved, teal:cipher.solutionFromServer}">
            <p>{{cipher.clearText}}</p>
            <p ng-if="cipher.revealAuthor || cipher.solved" class="author">- {{cipher.author}}</p>
            <p ng-if="cipher.solved&&!cipher.solutionFromServer" class="huge"><strong>Cogratulations!</strong> You solved the puzzle.</p>
        </div>

    </div>
    <div class="eight wide column value-pairs">
        <dropdown class="ui dropdown pairs-sort">
            <div class="text">Sort By:</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item active selected" ng-click="orderPairs('order', false)">Order of Appearance</div>
                <div class="item" ng-click="orderPairs('cipherVal', false)">Alphabetical</div>
                <div class="item" ng-click="orderPairs('count', true)">Frequency</div>
            </div>
        </dropdown>
        <h3>Value Pair Substitutions</h3>
        <form class="ui form">
            <div ng-repeat="pair in cipher.valuePairs | orderBy:pairOrder:pairReverse" class="field">
                <label>{{pair.cipherVal}} <sub>{{pair.count}}</sub></label>
                <input type="text" ng-model="pair.clearVal" ng-change="cipher.renderClearText()" click-select />
            </div>
        </form>

        <div class="button group">
            <input type="button" class="ui tiny basic teal button" value="Reset Value Pairs" ng-click="cipher.resetValuePairs()" ng-disabled="cipher.solved" ng-class="{disabled:cipher.solved}" />
            <input type="button" class="ui tiny basic purple button" value="Reveal Author" ng-click="cipher.revealAuthor = !cipher.revealAuthor" ng-disabled="cipher.solved||cipher.revealAuthor" ng-class="{disabled:cipher.solved||cipher.revealAuthor}" />
            <input type="button" class="ui tiny basic orange button" value="Solve it for me" ng-disabled="cipher.solved" ng-class="{disabled:cipher.solved}" ng-click="solve()" />
        </div>
    </div>
</div>

<div class="button group">
    <input type="button" class="ui green button" value="Next Puzzle" ng-click="loadNew()" />
</div>

<h3>How to play</h3>
<p>Substitution ciphers are encrpyted messages where letters are substituted with other letters to conceal the original message. To solve the cipher, use the Value Pair fields to substitue letters for the cipher text letters and watch as the plain text updates.</p>
