<!DOCTYPE html>
<html>
    <head>
        <title>Substitution Cipher</title>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Substitution Cipher Tool">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="SHORTCUT ICON" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-icon.png">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
